[submodule "backend"]
	path = backend
	url = https://github.com/kingdol666/rag-knowledge-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/kingdol666/rag-knowledge-frontend.git
